body {
    font-family: 'Product Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.help-text {
    color: #666;
    font-size: 0.9em;
    margin: 0.3em 0;
}

.hotkey-input {
    padding: 6px 10px;
    border: none;
    font-family: monospace;
    cursor: pointer;
}

.settings-footer {
    margin-top: 2em;
    color: #666;
    font-size: 0.9em;
}

.preset-input-group {
    display: flex;
    gap: 8px;
    flex: 1;
}

.history-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1em 0;
    /*max-height: 400px;
    overflow-y: auto;*/
}

.history-status-select {
    width: 100%;
    padding: 0.85rem 0.85rem;
    border-radius: 0.375rem;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.history-status-select option {
    color: #000;
}

.downloader-select {
    width: 100%;
    padding: 0.85rem 0.85rem;
    border-radius: 0.375rem;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.downloader-select option {
    color: #000;
}

.format-select {
    width: 100%;
    padding: 0.85rem 0.85rem;
    border-radius: 0.375rem;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.format-select option {
    color: #000;
}

.template-select {
    width: 100%;
    padding: 0.85rem 0.85rem;
    width: 15rem;
    border-radius: 0.375rem;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.template-select option {
    color: #000;
}

optgroup {
    font-style: italic;
    color: #666;
}